<div id="controls">
  <div id="add">+</div>
</div>

<div id="notes"></div>
<div id="remove-area">
  <p class="sign">&mdash;</p>
  Drop here to remove
</div>

<script id="note-tmpl" type="text/x-template">
  <textarea
    class="note"
    style="left: {{ x position }}px; top: {{ y position }}px;"
    data-noteid="{{ id }}"
  >{{ text }}</textarea>
</script>

