body {
    background: #1e1e1e;
    font-family: helvetica, sans-serif;
}
#controls {
    cursor: pointer;
}

#add {
    color: #eee;
    font-size: 5em;
    display: inline-block;
}

#notes {
}

.note {
    margin: 0;
    padding: 1em 0 0 0;
    background: rgba(240, 240, 240, 0.9);
    top: 90px;
    left: 90px;
    position: absolute;

    padding: .5em;
    min-width: 13em;
    min-height: 10em;
    border: none;
    box-shadow: 2px 2px 8px #333;
    font-size: 0.9em;
    font-family: helvetica, arial, sans-serif;
}

#remove-area {
    top: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    margin-top: -5em;
    padding: .3em 1em 1em 1em;
    border-left: 3px solid #c0c0c0;

    .sign {
        color: #eee;
        font-size: 5em;
        text-align: center;
    }
}

